<main-carousal></main-carousal>
<div class="first-main-box">
    <h1>Share your ideas to the world</h1>
    <h3>Publish your ideas in blogs</h3>
    <a routerLink="/signup">
        <button type="button" class="btn btn-light">Sign Up</button>
    </a>&nbsp;
    <a routerLink="/login">
        <button type="button" class="btn btn-dark">Login</button>
    </a>
</div>
<div class="second-main-box">
    <h1>The less boring side of skills development</h1>
    <div class="second-main-text mt-4">
        <h4>
            Content sharing for nerds, stuff that matters
        </h4>
    </div>
</div>
<!--
<div class="third-main-box">
    <h1 data-aos="zoom-in" data-aos-duration="1000" data-aos-mirror="true" data-aos-delay="200"
        data-aos-easing="ease-in-out">Seriously, put anything you want here</h1>
    <div class="third-main-text mt-4">
        <h4 data-aos="zoom-in" data-aos-duration="1000" data-aos-mirror="true" data-aos-delay="200"
            data-aos-easing="ease-in-out">Many post type to get started. Your brain can do the rest. This thing is
            yours. Use it however you like</h4>
    </div>
</div>
-->